// Body
$body-bg: #f8fafc;

// Typography
$title-font: 'Anton', sans-serif;
$main-font: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$main-color: #000000;
$accent-color: rgb(218, 218, 218);
$secondary-color: #b9b7b5;
$main-light-color: #a09f9f;
// $secondary-text-color: rgb(255, 208, 55);
// $danger-color: rgb(155, 22, 22);
// $accent-color: rgb(125, 255, 108);
